@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
  --color-1: rgb(75, 159, 75);
  --color-2: white;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  background-color: var(--color-2);
  display: grid;
  place-items: center;
  min-height: 100dvh;
  min-height: 100vh;
  margin: 0;
}

main {
  display: grid;
  min-height: 100dvh;
  min-height: 100vh;
}

h1, h2 {
  font-weight: 800;
  font-size: 2rem;
}

input {
  background-color: lightgray;
  border: none;
  outline-offset: none;
  padding: .5rem;
  border-radius: .2rem;
  font-size: large;
}

input:focus {
  outline: dotted;
}

button {
  font-weight: 400;
  font-size: 1rem;
  background-color: var(--color-1);
  color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1.5rem;
  border: none;
  outline: none;
  text-transform: uppercase;
	letter-spacing: 1px;
	transition: transform 20ms ease-in;
}

button:active {
	transform: scale(0.95);
}

#result > ul {
  color: darkcyan;
  font-weight: 800;
  font-size: 1.7rem;
}

.cart_side {
  padding: 1rem;
  display: grid;
  align-content: center;
  justify-items: center;
}

.cart_side--green {
  background-color: var(--color-1);
  color: white;
}

@media (width >= 500px) {
  main {
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 55vh;
  }
}