@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
  --default-bg-color: #f6f5f7;
  --default-text-color: #3E363F;
  --card-bg-color2: rgb(75, 159, 75);
  --result-color: #0A81D1;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--default-bg-color);
  color: var(--default-text-color);

  display: grid;
  min-height: 100dvh;
  min-height: 100vh;
  margin: 0;
}

h1,
h2 {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

h1>em {
  color: var(--result-color);
  display: block;
}

label {
  margin-bottom: 1rem;
}

input {
  background-color: lightgray;
  border: none;
  outline-offset: none;
  padding: .9rem 1rem;
  border-radius: .2rem;
  font-size: large;
}

.errored_input {
  background-color: lightcoral;
}

input:focus {
  outline: dotted;
}

#error {
  color: red;
  font-weight: bold;
  /* Esto para evitar que se desplace el contenido al mostrar el error */
  visibility: hidden;
}

table {
  border-collapse: collapse;
  color: var(--result-color);
}

caption {
  font-size: 1.3rem;
  text-decoration: underline double;
  padding: 1rem;
}

th {
  border-bottom: black solid 1px;
}

td {
  padding: .7rem;
  text-align: center;
}

.card {
  display: grid;
  width: 100%;
  min-height: 100%;
}

.card_side {
  padding: 2.7rem;
  display: grid;
  align-content: center;
  justify-items: center;
}

.card_side--green {
  background-color: var(--card-bg-color2);
  color: white;
}

@media (width >=768px) {
  body {
    margin: 1rem;
    place-items: center;
  }

  .card {
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);

    grid-template-columns: repeat(2, 1fr);
    min-height: 55vh;
    width: initial;
    max-width: 1000px;
  }
}